.subnav{
    display: block;

}

.subnav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    p{
        color: black;
        font-size: 15px;
    }
   
}

#topnav{
    display: flex;
    justify-content: flex-end;

}

#lownav{
    justify-content: flex-start;
}

p{
    font-family: 'Inter', sans-serif;
}

h5{
    font-family: 'Inter', sans-serif;
    font-size: 19px;
}

h4{
     font-family: 'Inter', sans-serif;
    font-size: 30px;
}

h3{
     font-family: 'Inter', sans-serif;
    font-size: 40px;
}

.home-background{
    background-image: url("Images/eyJrZXkiOiI2OTdjODJhZDk4MGNhOGE4OTkzZDU2OWIuanBnIiwiZWRpdHMi.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-textbox{
    color: white;
    opacity: 100%
    ;
}
.background-box{
    background-color: black;
    opacity: 30%;
    
}

.text-latest-news{
   display: flex;
   flex-direction: column;


   
}

.news-text-section{
    justify-content: center;
    padding-left: 6rem;
        padding-right: 6rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
}
.upper-box{
    display: flex;
    flex-direction: row;
    gap: 50px;


}

.dates{
    margin-bottom: 15px;
}


.hall{
    display: flex;
    flex-direction: row;
}

.purple{
    padding: 70px;

    background-color: #bd94ff;
    width: 85.2%;
    height: 61.9%;
    
}

.purple2{
    padding: 80px;

    background-color: #ff873c;
    width: 85.2%;
    height: 65.8%;
    
}

.blue{
    display: flex;
    flex-direction: row;
    background-color: #74CED9;
    padding: 30px;
}

.white{
    background-color: white;
    margin: 10px;

}

.white-text{
    margin: 20px;
}


.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:  #291E37;
    padding: 60px;
}

.footer-box{
   width: 100%;
  
}

li{
    list-style: none;
   font-size: 15px;
   color: #ABA7A6;
   font-family: 'Inter', sans-serif;
}

.footer-text{
    p{
        color: white;
        font-size: 14px;
        font-family: 'Inter', sans-serif;
        margin: 0;
    }
}

.ending{
    background-color: #291E37;

    color: #ABA7A6;
    font-family: 'Inter', sans-serif;
    align-items: center;
}


/********/ COMPETITIONS PAGE ********/ 
.background-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.subnav2 ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    p{
        color: black;
        font-size: 15px;
    }
   
}


#lownav2{
    justify-content: flex-start;
}


.black-nav{
    background-color: black;
   color: white;
   display: flex;
   flex-direction: row;
    display: block;
}

.black-nav ul{
    background-color: #252525;
   color: white;
   display: flex;
   flex-direction: row;
    display: block;
}

.black-nav{
    display: block;

}

.black-nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    p{
        color: white;
        font-size: 14px;
    }
   
}

.green{
    display: flex;
    flex-direction: row;
    background-color: #26341A;
    color: white;
    justify-content: center;
    gap: 90px;
}

.spikes{
    display: flex;
    flex-direction: row;
  gap: 20px;
  padding-right: 60px;
  padding-left: 60px;
  background-color: #88FD44;

}

.text-spike{
    background-color: #88FD44;
    margin: 0;
    padding: 1px;
         padding-left: 60px;
    h2{
        font-family: 'Inter', sans-serif;
        font-size: 30px;
    }
     p{
        font-family: 'Inter', italic, sans-serif;
        font-size: 15px;
        color: black;
   
    }
    }
