
section .fourpanelsection{
    width: 100%;
    margin: auto;
}

.panelcontent{
    background-color: #FFFBDE;
    height: 800px;
    display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10% 0 15%;


}

.fourpanel{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.bkim{
    background-size: cover;
    background-position: center;
}

.panelcontent p{
    margin-bottom: 25px;
}

.bottomsection .bkim{
background-image: url(images/about-me.jpg);
}

.myjourney .bkim{
    background-image: url(images/3block.jpg);
}

.medalj .bkim{
    background-image: url(images/medalj.jpg);
}

.howitstarted .bkim{
    background-image: url(images/015.jpg);
}


.nebraska .bkim{
    background-image: url(images/nebraska.jpg);
}

.passion .bkim{
    background-image: url(images/prispall.jpg);
}

.coaching .bkim{
    background-image: url(images/coaching.png);
}

.jersey .bkim{
    background-image: url(images/nebraskajersey.jpg);
}

.chair .bkim{
    background-image: url(images/services.jpg);
}

.herstory .bkim{
    background-image: url(images/swedenuniform.jpg);
}

.nav{
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: white;
    align-items: center;

}


.background {
  position: relative;
  background-image: url("images/att._FLv_wCKzjMrdtBlv8PflG0hFq0Q58iHDmVi_ALVVjc.JPG");
  background-size: cover;
  background-position: center;
}

.background p{
color: white;
font-size: 23px;
}

.background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.navbar,
.font-side {
  position: relative;
  z-index: 2;
}


.navbar {
  display: flex;
  justify-content: space-between;
  

}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    position: relative;
    background-color: #0B2545;
    padding: 1rem;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  .hamburger span {
    width: 30px;
    height: 3px;
    background: white;
  }

   .nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #0B2545;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
    display: none;
  }

  .nav.active {
    display: flex;
  }
  
  .nav.active h5 {
    margin-block-end: 15px;
    margin-block-start: 15px;
  
  }

  .icons {
    display: none;
  }
.font-side.hide {
  display: none;
}
.font-side4 {
  position: relative;
  z-index: 1;
}
.font-side4.hide {
  display: none;
}
}

.logo img{
    width: 120px;
}



.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
  height: 70px;
  justify-content: space-between;
}

.navbar img{
    width: 120px;
 margin-left: 20px;
    margin-top: 20px;
}

.nav li:hover {
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}


.icons{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

a:link, a:visited {
    color: white;
    font-family: koulen;
    text-decoration: none;
    font-size: 24px;
}


h1{
    color: white;
    font-family: koulen;
    font-size: 80px;
   line-height: 1;
   margin-block-end: 0px;
   margin-block-start: 10px;

}

h2{
  color: #0B2545;
    font-family: koulen; 
    font-size: 60px; 
    margin-block-end: 0px;
     margin: 10px 0; 
    line-height: 3.75rem;
    
}

h3{
    color: #C4A055;
    font-family: koulen;
    font-size: 36px;
    margin-block-end: 0px;
}

h4{
    font-family: koulen;
    line-height: 1.3;
    font-size: 20px;
    color: #0B2545;
    margin-block-end: 0px;
}

h5{
    color: white;
    font-family: koulen;
    font-size: 21px;
}

h6{
    color: white;
    font-family: koulen;
    font-size: 20px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

 h7{
    font-family: koulen;
    font-size: 57px;
    color: #FFFBDE;
}

p{
    font-family: lato;
        margin-block-start: 0px;
        margin-block-end: 6px;
        font-size: 18px;
}


.font-side{
    margin-top: 250px;
    padding-bottom: 100px;
    margin-left: 100px;
}
.button:link, .button:visited {
    color: black;
    font-family: lato;
    background-color: #FFFBDE;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .20);
    display: inline-block;
    margin: 0 .25rem .25rem 0;
    transition: background-color 0.3s ease;
}

.result-bar {
    display: grid;
    gap: 10px;
    padding: 40px 20px;
    text-align: center;
    background-color: #0B2545;
    color: #FFFBDE;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.results img {
    width: 80px;
}

.results{
    display: flex;
    flex-direction: column;
    align-items: center;
    place-items: center;
    
}

.results span {
  font-size: 40px;
}





.inspire-section{
   text-align: center;
   padding-top: 100px;
   background-color: #FFFBDE;
   padding-bottom: 50px;
   place-items: center;
   padding-left: 150px;
    padding-right: 150px;

}
.inspire-section p {
   color: #0B2545;
}

.quote{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.services{
    display: flex;
    flex-direction: row;
    margin: 0;
    text-align: center;
    
    

}

.button:link, .button:visited {
    color: white; 
    font-size: 18px;
    font-family: lato;
    background-color: #C4A055;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .20);
    display: inline-block;
    margin: 0 .25rem .25rem 0;
    transition: background-color 0.3s ease;
}

.button:hover{
     transition: 0.4s ease;
     background-color: #FFFBDE;
     color: black;
}


.button-blue:link, .button-blue:visited {
    color: white; 
    font-family: lato;
    font-size: 20px;
    background-color: #0B2545;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .20);
    display: inline-block;
    margin: 0 .25rem .25rem 0;
    transition: background-color 0.3s ease;
}
.button-blue:hover{
     transition: 0.4s ease;
     background-color: #C4A055;
     color: black;
}

.three-cards {
  display: flex;
  height: 650px;
}

.card {
  position: relative;
  flex: 1;
  overflow: hidden;
}


.content h3 {
  font-size: 54px;
  transform: translateY(0);
  transition: 0.4s ease;
}

.content p {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.4s ease;
  max-width: 260px;
}



.card:hover .content p {
  opacity: 1;
  transform: translateY(0);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover h3{
display: none;
}


.card:hover .content h3 {
  transform: translateY(-10px);
}
.card:hover .content p {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.1s;
}


.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.4s ease;
}

.card:hover .overlay {
  background: rgba(0, 0, 0, 0.6);
}

.content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; /* center by default */
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
  transition: 0.4s ease;
}


.content button {
  background: #C4A055;
  font-size: 17px;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
    font-family: lato;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .20);
    display: inline-block;
    margin: 0 .5rem .5rem 0;
    transition: background-color 0.3s ease;
}

.content button:hover{
     transition: 0.4s ease;
     background-color: #FFFBDE;
     color: black;
}


.card:hover img {
  transform: scale(1.05);
  transition: 0.4s ease;
}




.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #0B2545;
   padding-left: 70px;
   padding-right: 70px;
   padding-top: 50px;
  

    p{
        color: white;
        font-size: 16px;
        margin-inline-start: 5px;
        margin-inline-end: 5px;
        margin-left: 0px;
    }



    a:link{
        font-family: lato;
        font-size: 14px;
        
    }
}

ul{
 list-style-type: none;
     padding-inline-start: 0px;
     margin-top: 0px;

}
.footer a:hover {
  opacity: 0.5;
  transition: 0.2s ease-in-out;
}


.socials
{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.end{
    text-align: center;
    background-color: #0B2545;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;

    p{
        font-size: 15px;
    }
}



/****** About *******/

.background1 {
  position: relative;
  height: 100vh;
 background-position: center;
  background-image: url("Project 2/Images/IMG_0939.jpg");
  background-size: cover;
 

  p{
        color: white;
        font-size: 23px;
    }
}
 .about-me-section img {
        width: 50%;
        height: auto;
    }
  

.background1::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

/****** Coaching *******/
.background2 {
  height: 100vh;
position: relative;
  background-image: url("images/DSC_4992.jpg");
  background-size: cover;

  p{
        color: white;
        font-size: 23px;
    }
}

.background2::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

/****** Collaborations *******/
.background3 {
  height: 100vh;
position: relative;
  background-image: url("images/IMG_2259.jpg");
  background-size: cover;
  background-position: center;

  p{
        color: white;
        font-size: 21px;
    }
}

.background3 h1{
    font-size: 60px;
}


.background3::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.previous{
 background-color: #FFFBDE;
 text-align: center;
 margin-top: 0px;
 h3{
    margin-block-start: 0px;
    padding-top: 10px;
 }
}

.work{
   display: grid;
    background-color: #FFFBDE;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.work img{
    width: 100%;
    flex-direction: column;
    align-items: center;
    place-items: center;
}

.clients{
    display: grid;
    gap: 10px;
    padding: 40px 20px;
    text-align: center;
    color: #FFFBDE;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: column;
    align-items: center;
    place-items: center;
}
.clients img {
    width: 190px;
}

.services-text{
    padding-right: 250px;
    padding-left: 220px;
}
.services{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/****** Contact *******/
.background4 {
  position: relative;
  height: 100vh;

  background-image: url("images/att._FLv_wCKzjMrdtBlv8PflG0hFq0Q58iHDmVi_ALVVjc.JPG");
  background-size: cover;
  background-position: center;

  p{
        color: white;
        font-size: 23px;
    }
}

.background4::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1;
}


.navbar,
.font-side4 {
  position: relative;
  z-index: 2;
} 




.arch_contact_us_duplicate * {
  font-family: koulen;
}

.arch_contact_us_duplicate .icon-block svg {
  width: 100%;
  height: 100%;
}

.arch_contact_us_duplicate .icon-block {
  width: 30px;
  height: 30px;
}

.arch_contact_us_duplicate .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  line-height: 25px;
}

.arch_contact_us_duplicate .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.arch_contact_us_duplicate .responsive-cell-block {
  min-height: 75px;
}

.arch_contact_us_duplicate .responsive-container-block.big-container {
  justify-content: center;
  align-items: center;
  min-height: 89vh;
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
}

.arch_contact_us_duplicate .responsive-container-block.container {
  max-width: 1100px;
  justify-content: space-evenly;
}

.arch_contact_us_duplicate .text-blk.section-head {
  font-size: 60px;
  line-height: 65px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 24px;
  margin-left: 0px;
}

.arch_contact_us_duplicate .text-blk.section-subhead {
  font-size: 14px;
  line-height: 18px;
  color: #7e7e7e;
}

.arch_contact_us_duplicate .input {
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  height: 54px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  padding-top: 1px;
  padding-right: 16px;
  padding-bottom: 1px;
  padding-left: 16px;
  font-size: 16px;
}

.arch_contact_us_duplicate .textinput {
  width: 100%;
  height: 125px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 27px;
  margin-left: 0px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}


.arch_contact_us_duplicate .form-wrapper {
  border-bottom-width: 4px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
}


.arch_contact_us_duplicate .input-element {
  background-color: #f3f2cf;
}
.button {
  background: #C4A055;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
    font-family: lato;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .20);
    display: inline-block;
    margin: 0 .5rem .5rem 0;
    transition: background-color 0.3s ease;
}


.button:hover{
     transition: 0.4s ease;
     background-color: #FFFBDE;
     color: black;
}

@media (max-width: 1024px) {
  .arch_contact_us_duplicate .text-blk.section-head {
    font-size: 55px;
    line-height: 60px;
  }

  .arch_contact_us_duplicate .responsive-container-block.container {
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .arch_contact_us_duplicate .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-6.wk-desk-5 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
  }

  .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-ipadp-6.wk-desk-5.wk-tab-10 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
    text-align: center;
  }

  .arch_contact_us_duplicate .input {
    height: 45px;
  }

  .arch_contact_us_duplicate .responsive-container-block.container {
    justify-content: space-evenly;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }

  .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-desk-5.wk-tab-10.wk-ipadp-5 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
}

@media (max-width: 500px) {
  .arch_contact_us_duplicate .text-blk.section-head {
    font-size: 40px;
    line-height: 45px;
  }

  .arch_contact_us_duplicate .responsive-container-block.big-container {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .arch_contact_us_duplicate .input {
    height: 40px;
  }

  .arch_contact_us_duplicate .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-6.wk-desk-5 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
  }

  .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-ipadp-6.wk-desk-5.wk-tab-10 {
    text-align: left;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .arch_contact_us_duplicate .responsive-container-block.big-container {
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
  }

  .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-desk-5.wk-tab-10.wk-ipadp-5 {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .arch_contact_us_duplicate .button {
    width: 100%;
   
  }

  .arch_contact_us_duplicate .button {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
    height: 50px;
  }

  .arch_contact_us_duplicate .form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
  }

  .arch_contact_us_duplicate .icon-block {
    width: 25px;
    height: 25px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 85%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}



/****** Guest Speaker *******/
.background5 {
  position: relative;
  height: 100vh;

  background-image: url("images/guest-speaker.jpg");
  background-size: cover;
  background-position: center;

  p{
        color: white;
        font-size: 23px;
    }
}

.background5::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

/****** Media Queries *******/
@media (min-width: 601px) and (max-width: 1024px) {
    .nav{
        gap: 30px;
    }
.navbar img{
    width: 100px;
}
a:link, a:visited {
    color: white;
    font-family: koulen;
    text-decoration: none;
    font-size: 20px;
}

.logo img{
    width: 100px;
}
.nav h5{
    font-size: 18px;
}
    .about-me-text2, 
    .about-me-text {
        padding: 3rem;
    }

   
   
    
        h2{
        font-size: 55px;
    }

.inspire-section{
    padding-left: 100px;
    padding-right: 100px;
}

 .three-cards {
        height: 700px;
    }

.end p{
    font-size: 16px;
}
.socials{
    gap: 20px;
}

.clients img {
    width: 150px;
}
.panelcontent{
    height: 630px;
}

.background1 {
  position: relative;
  height: 100%;
 background-position: center;
  background-image: url("Project 2/Images/IMG_0939.jpg");
  background-size: cover;

}
}




@media (max-width: 768px) {
    .navbar {
        position: relative;
        background-color: #0B2545;
        padding: 1rem;
    }

   
    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        cursor: pointer;
    }

    .hamburger span {
        width: 1.875rem;
        height: 0.1875rem;
        background: white;
    }

    .nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        background-color: #0B2545;

        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        padding: 2rem 0;

        display: none;
    }

    .nav.active {
        display: flex;
    }


    .nav {
        transform: none;
        margin-right: 0;
    }

    .icons {
        display: none;
    }
    .panelcontent{
    height: 500px;
    padding: 0 5% 0 10%;
}
.panelcontent p{
    font-size: 18px;
}
}










@media (max-width: 600px) {
    

.result-bar {
    display: column;
    gap: 10px;
    padding: 40px 20px;
    text-align: center;
    background-color: #0B2545;
    color: #FFFBDE;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

    .about-me-section {
        flex-direction: column;
        text-align: center;
    }

    .about-me-section h4 {
        font-size: px;
    }
 .about-me-image {
        width: 100%;
    }

  
    .about-me-text,
    .about-me-text2 {
        padding: 2rem;
    }

    .about-me-section img {
        width: 100%;
        height: auto;
    }
     .result-bar {
        grid-template-columns: repeat(2, 1fr);

    }

    .result-bar h7{
        font-size: 40px;
    }

    .result-bar img{
        width: 50px;
    }

    #sweden {
     flex-direction: column-reverse;
    }

    .inspire-section{
    padding-left: 20px;
    padding-right: 20px;

    h4{
        font-size: 18px;
    }
}

.inspire-section img{
    width: 50%;
    height: auto;
}

.quote{
    gap: 10px;
}

 .three-cards {
        flex-direction: column;
        height: auto;
    }

    .services-text {
        padding: 0 3rem;
    }


    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;

        padding-left: 2rem;
        padding-right: 2rem;
    }

    .footer ul {
        padding: 0;
    }

    .socials {
        justify-content: center;
        gap: 3rem;
    }

    .bottom-logo img {
        width: 120px;
        padding-bottom: 0px;
    }

    h2{
        font-size: 40px;
    }
p{
    font-size: 16px;
}

.clients {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .clients img {
    width: 150px;
  }


.fourpanel{
    display: flex;
    flex-direction: column;
}
.bkim{
    width: 100%;
     height: 500px;
    
    
}
.panelcontent{
  padding: 0 2% 0 5%;
  height: 400px;
}

.panelcontent p{
    font-size: 18px;
    
}

.work{
    grid-template-columns: repeat(2, 1fr);
}

.background1 {
  position: relative;
 background-position: center;
  background-image: url("images/IMG_0939.jpg");
  background-size: cover;

}

.font-side{
margin-top: 400px;
}
.font-side h1{
font-size: 80px;
}

.font-side p{
display: none;
}
}




 