*{
  font-family: Archivo, sans-serif; 
  box-sizing: border-box;  
}

body {
margin: 0;
font-family: Archivo, sans-serif; 
background-image: url("../Images/moroccan-flower.png");
}
h1 {
font-size: 2rem;
font-family: Bitcount Grid Double, sans-serif;
}
h2 {
font-size: 1.5rem;
}

h3{
    font-size: 1.25rem;
}

header{
    background-color: black;
    color: white; 
    padding: 2rem; 
}

.circlestyle{
    border-radius: 50%;
    border: 5px solid black;
}


/********* Layout ********/

.container{
    background-color: white;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12,1fr);
    margin: 0 auto;
    width: min(95%, 75rem);
}

.container > *{
    grid-column: span 12;
}

/*** Desktop Layout ***/
@media screen and (min-width:40rem) {
.col-span-8{
    grid-column: span 8;
}
.col-span-4{
    grid-column: span 4;
}
    
}
