    body {
margin: 0 10%;
font-family: Archivo, sans-serif; 
}
h1 {
font-size: 2rem;
font-family: Bitcount Grid Double, sans-serif;
}
h2 {
font-size: 1.5rem;
}

h3{
    font-size: 1.25rem;
}

header{
    background-color: black;
    color: white; 
    padding: 2rem; 
}

.circlestyle{
    border-radius: 50%;
    border: 5px solid black;
}


